@using System;
@using MenuProject.MenuUI.Components
@using Sandbox.UI;
@using Sandbox.Html;
@using Sandbox;
@using Menu;
@inherits Panel;


<root>

    <row class="entry">

        @if ( Entry.Package is not null )
        {
            <div class="thumb clicky" onmousedown="@OpenPackage">
                @if ( !string.IsNullOrEmpty( Entry.Package.Thumb ) )
                {
                    <img src="@Entry.Package.Thumb" />
                }
                else
                {
                    <i>sports_esports</i>
                }
            </div>
        }

        <div class="body">
            @if ( Entry.Package is not null )
            {
                <PackageLink Target="@Entry.Package"></PackageLink>
            }

            <row class="who">
                <Label class="action" IsRich=@(true) Text=@ActivityText() OnNodeClicked=@OnNodeClicked></Label>
            </row>
        </div>

    </row>

</root>

@code{

    public Sandbox.Services.Feed Entry;

    void OpenPackage()
    {
        Entry.Package?.OpenModal();
    }

    void OnNodeClicked( INode node )
    {
        var href = node.GetAttribute( "href", null );

        if ( href is not null && href.StartsWith( "player:" ) && long.TryParse( href["player:".Length..], out var steamId ) )
        {
            Game.Overlay.ShowPlayer( steamId );
        }
    }

    string ActivityText()
    {
        var action = Entry.Text.Replace( "{package}", Entry.Package?.Title ?? "" );
        action = System.Net.WebUtility.HtmlEncode( action );

        if ( Entry.Player is null )
            return action;

        var name = System.Net.WebUtility.HtmlEncode( Entry.Player.Name );
        var cls = Entry.Player.Online ? "player-link online" : "player-link";

        return $"<a href=\"player:{Entry.Player.Id}\" class=\"{cls}\">{name}</a> {action}";
    }
}
