@using System;
@using Sandbox.UI;
@using Sandbox;
@using Menu;
@inherits Panel;

<root class="clicky">
    <Label>@Target?.Title</Label>
</root>

@code{

    public Sandbox.Package Target;

    protected override void OnParametersSet()
    {
        Tooltip = Target?.Title;
    }

    protected override void OnMouseDown( MousePanelEvent e )
    {
        e.StopPropagation();

        Target?.OpenModal();
    }
}
